@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1684998797973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangwuchuzu:before {
  content: "\ffb9";
}

.icon-kaitonghuiyuan:before {
  content: "\ffba";
}

.icon-guanjunjiangbei:before {
  content: "\ffbe";
}

